@page
@model HospiEnCasa.App.WebApp.ListModel
@{
    Layout = "_LayoutAdmin";
    ViewData["Title"] = "Listado de personas";
    ViewData["script"] = "personaList.js";
}
<div class="container bg-white border border-secondary rounded-25">
    <div class="row">
        <div class="col-md-1 col-sm-12">

        </div>
        <div class="col-md-10 col-sm-12">
            <br>
            <br>
            @{
              if(Model.mensaje != ""){
                <div class="alert alert-primary" role="alert">
                    @Model.mensaje
                </div>
              }
            }            
            <br>            
            <br>
            <h1>Crear personas</h1>
            <br>
            <a class="btn btn-primary text-white" id="crearPersona">
                <i class="far fa-edit"></i>Crear Persona
            </a>
            <br>
            <br>
            <h1>Listado de personas</h1>            
            <table class="table" id="tablePersonas">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Número teléfonico</th>
                        <th>Genero</th>
                        <th>Tipo Persona</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach( var persona in Model.listadoPersonas){
                        <tr>
                            <td>@persona.Id</td>
                            <td>@persona.Nombre</td>
                            <td>@persona.Apellidos</td>
                            <td>@persona.NumeroTelefono</td>
                            <td>@persona.Genero</td>
                            <td>@persona.Discriminator</td>
                            <td>
                                <!--
                                <a class="btn btn-primary" asp-page="./Edit" asp-route-Id="@persona.Id">
                                    <i class="far fa-edit"></i>Editar
                                </a>
                                -->
                                <a class="btn btn-primary text-white" data-toggle="tooltip" data-placement="top" title="Editar una persona">
                                    <i class="far fa-edit"></i>
                                </a>
                                <a class="btn bg-danger text-white" data-toggle="tooltip" data-placement="top" title="Eliminar una persona">
                                    <i class="fas fa-trash-alt"></i>
                                </a>
                                @{
                                  if(@persona.Discriminator == "Paciente"){
                                    <a class="btn bg-warning" data-toggle="tooltip" data-placement="top" title="Asignar un médico al paciente">
                                      <i class="fas fa-medkit"></i>
                                    </a>
                                    <a class="btn bg-info text-white" data-toggle="tooltip" data-placement="top" title="Visualizar signos vitales">
                                        <i class="fas fa-heartbeat"></i>
                                    </a>
                                    <a class="btn bg-success text-white" data-toggle="tooltip" data-placement="top" title="Agregar signos vitales">
                                        <i class="fas fa-procedures"></i>
                                    </a>
                                  }
                                }                                                                
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <br>
            <br>
        </div>
        <div class="col-md-1 col-sm-12">

        </div>
    </div>
</div>

<!-- Modal Eliminar -->
<div class="modal" tabindex="-1" role="dialog" id="modalEliminar">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Eliminar persona</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>¿Desea eliminar la persona?</p>
        <input type="hidden" name="idPersonaEliminar" id="idPersonaEliminar">
        <input type="hidden" name="idTipoPersonaEliminar" id="idTipoPersonaEliminar">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="btnEliminar">Si</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Actualizar -->
<div class="modal" tabindex="-1" role="dialog" id="modalEditar">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Editar personas</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
            <div class="row">
                <div class="col">
                    <form method="post" action="" id="formEditar">
                        @Html.AntiForgeryToken()
                        <input type="hidden" id="Id" name="Id">
                        <div class="form-group">
                            <label for="nombre">Nombres</label>
                            <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Digite sus nombres" minlength="3" maxlength="50" >
                        </div>
                        <div class="form-group">
                            <label for="apellido">Apellidos</label>
                            <input type="text" class="form-control" id="apellido" name="apellido" placeholder="Digite sus apellidos" minlength="3" maxlength="50">
                        </div>
                        <div class="form-group">
                            <label for="telefono">Número de telefono</label>
                            <input type="number" class="form-control" id="telefono" name="telefono" placeholder="Digite su número teléfonico" min="3000000000" max="3999999999" step="1">
                        </div>
                        @using HostiEnCasa.App.Dominio
                        <div class="form-group">
                            <label for="genero">Genero</label>
                            <select class="form-control" id="genero" name="genero">
                                <option value="" selected="selected">Seleccione...</option>
                                <option value="@Genero.Femenino">Femenino</option>
                                <option value="@Genero.Masculino">Masculino</option>
                            </select>
                        </div>                                                                
                    </form>
                    <br>
                    <br>
                </div>
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="btnActualizar">Actualizar</button>
        <button type="reset" class="btn btn-secondary">Limpiar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Registrar -->
<div class="modal" tabindex="-1" role="dialog" id="modalRegistrar">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Registrar persona</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
            <div class="row">
                <div class="col">
                    <form method="post" action="" id="formRegistrar">
                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            <label for="nombre">Número de documento</label>
                            <input type="text" class="form-control" id="noDocumentoR" name="noDocumentoR" placeholder="Digite su documento de identidad" minlength="4" maxlength="12">
                        </div>
                        <div class="form-group">
                            <label for="nombre">Nombres</label>
                            <input type="text" class="form-control" id="nombreR" name="nombreR" placeholder="Digite sus nombres" minlength="3" maxlength="50" >
                        </div>
                        <div class="form-group">
                            <label for="apellido">Apellidos</label>
                            <input type="text" class="form-control" id="apellidoR" name="apellidoR" placeholder="Digite sus apellidos" minlength="3" maxlength="50">
                        </div>
                        <div class="form-group">
                            <label for="telefono">Número de telefono</label>
                            <input type="number" class="form-control" id="telefonoR" name="telefonoR" placeholder="Digite su número teléfonico" min="3000000000" max="3999999999" step="1">
                        </div>
                        @using HostiEnCasa.App.Dominio
                        <div class="form-group">
                            <label for="genero">Genero</label>
                            <select class="form-control" id="generoR" name="generoR">
                                <option value="" selected="selected">Seleccione...</option>
                                <option value="@Genero.Femenino">Femenino</option>
                                <option value="@Genero.Masculino">Masculino</option>
                            </select>
                        </div> 
                        <div class="form-group">
                            <label for="discriminador">Tipo de persona</label>
                            <select class="form-control" id="discriminadorR" name="discriminadorR">
                                <option value="" selected="selected">Seleccione...</option>
                                <option value="Persona">Persona Natural</option>
                                <option value="Medico">Medico</option>
                                <option value="Paciente">Paciente</option>
                                <option value="Enfermera">Enfermera</option>
                                <option value="FamiliarDesignado">Familiar Designado</option>
                            </select>
                        </div>
                        <hr>
                        <div id="panelPaciente" style="display: none;" >
                          <h4>Datos adicionales del paciente</h4>
                          <div class="form-group">
                            <label for="direccion">Dirección de residencia</label>
                            <input type="text" class="form-control" id="direccion" name="direccion" placeholder="Digite su dirección de residencia">
                          </div>
                          <div class="form-group">
                            <label for="latitud">Coordenadas de latidud</label>
                            <input type="number" class="form-control" id="latitud" name="latitud" placeholder="Digite su la latitud de su dirección de residencia">
                          </div>
                          <div class="form-group">  
                            <label for="longitud">Coordenadas de longitud</label>
                            <input type="number" class="form-control" id="longitud" name="longitud" placeholder="Digite su la longitud de su dirección de residencia">
                          </div>
                          <div class="form-group">  
                            <label for="ciudad">Ciudad de residencia</label>
                            <input type="text" class="form-control" id="ciudad" name="ciudad" placeholder="Digite su ciudad de residencia">
                          </div>
                        </div>
                        <div id="panelMedico" style="display: none;" >
                          <h4>Datos adicionales del médico</h4>
                          <div class="form-group">
                            <label for="especialidad">Especialidad</label>
                            <input type="text" class="form-control" id="especialidad" name="especialidad" placeholder="Digite la especialidad">
                          </div>
                          <div class="form-group">  
                            <label for="codigo">Código</label>
                            <input type="text" class="form-control" id="codigo" name="codigo" placeholder="Digite el código del médico">
                          </div>
                          <div class="form-group">  
                            <label for="rethus">Registro Rethus</label>
                            <input type="text" class="form-control" id="rethus" name="rethus" placeholder="Digite el registro rethus">
                          </div>
                        </div>
                        <div id="panelEnfermera" style="display: none;" >
                          <h4>Datos adicionales de la enfermera</h4>
                          <div class="form-group">
                            <label for="tarjetaProfesional">Tarjeta Profesional</label>
                            <input type="text" class="form-control" id="tarjetaProfesional" name="tarjetaProfesional" placeholder="Digite el número de tarjeta profesional">
                          </div>
                          <div class="form-group">  
                            <label for="horasLab">Hora laboralres disponibles</label>
                            <input type="number" class="form-control" id="horasLab" name="horasLab" placeholder="Digite las horas laborales disponibles">
                          </div>
                        </div>   
                        <div id="panelFamiliar" style="display: none;" >
                          <h4>Datos adicionales del familiar encargado</h4>
                          <div class="form-group">
                            <label for="parentesco">Parentesco</label>
                            <input type="text" class="form-control" id="parentesco" name="parentesco" placeholder="Digite el parentesco del familiar">
                          </div>
                          <div class="form-group">  
                            <label for="correo">Correo electrónico</label>
                            <input type="email" class="form-control" id="correo" name="correo" placeholder="Digite el correo electrónico">
                          </div>
                        </div>                                                                
                    </form>
                </div>
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="btnRegistrar">Registrar</button>
        <button type="reset" class="btn btn-secondary">Limpiar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Asignar Medico -->
<div class="modal" tabindex="-1" role="dialog" id="modalMedico">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Asignar medico</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
            <div class="row">
                <div class="col">
                    <form method="post" action="" id="formEditar">
                        @Html.AntiForgeryToken()
                        <input type="hidden" id="IdPaciente" name="IdPaciente">
                        <div class="form-group">
                            <label for="nombre">Nombres</label>
                            <input type="text" class="form-control" id="nombrePaciente" name="nombrePaciente" readonly>
                        </div>
                        <div class="form-group">
                            <label for="genero">Listado de medicos</label>
                            <select class="form-control" id="IdMedico" name="IdMedico">
                                <option value="" selected="selected">Seleccione...</option>
                                @foreach (var medico in Model.listadoMedicos)
                                {
                                  <option value="@medico.Id">@medico.Nombre @medico.Apellidos - @medico.Especialidad </option>  
                                }                                
                            </select>
                        </div>                                                                
                    </form>
                    <br>
                    <br>
                </div>
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="btnAsignarMedico">Asignar Medico</button>
        <button type="reset" class="btn btn-secondary">Limpiar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Ver Signos Vitales -->
<div class="modal" tabindex="-1" role="dialog" id="modalVerSignos">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Detalle Signos vitales</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
            <div class="row">
                <div class="col">
                    <form method="post" action="" id="formEditar">
                        @Html.AntiForgeryToken()
                        <table class="table" id="tableDetalleSignos">
                          <thead>
                            <tr>
                              <th>Fecha/Hora Registro</th>                              
                              <th>Signo</th>
                              <th>Valor</th>
                            </tr>
                          </thead>
                          <tbody>
                                                       
                          </tbody>
                        </table>
                    </form>
                    <br>
                    <br>
                </div>
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>        
      </div>
    </div>
  </div>
</div>

<!-- Modal Agregar Signos Vitales -->
<div class="modal" tabindex="-1" role="dialog" id="modalAgregarSignos">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Agregar Signos vitales</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
            <div class="row">
                <div class="col">
                    <form method="post" action="" id="formEditar">
                        <input type="hidden" id="IdPacienteSigno" name="IdPacienteSigno">
                        <div class="form-group">
                            <label for="nombre">Fecha</label>
                            <input type="date" class="form-control" id="fechaHora" name="fechaHora">
                        </div>
                        @using HostiEnCasa.App.Dominio
                        <div class="form-group">
                            <label for="nombre">Tipo de Signo</label>
                            <select class="form-control" id="tipoSigno" name="tipoSigno">
                                <option value="" selected="selected">Seleccione...</option>
                                <option value="@TipoSigno.TensionArterial">Tensión Arterial</option>
                                <option value="@TipoSigno.FrecuenciaCardica">Frecuencia Cardica</option>
                                <option value="@TipoSigno.FrecuenciaRespiratoria">Frecuencia Respiratoria</option>
                                <option value="@TipoSigno.SaturacionOxigeno">Saturación Oxigeno</option>
                                <option value="@TipoSigno.TemperaturaCorporal">Temperatura Corporal</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="nombre">Valor</label>
                            <input type="number" class="form-control" id="valorSigno" name="valorSigno" min="0" max="250">
                        </div>
                        <div class="form-group">
                          <button type="button" class="btn bg-success text-white" id="btnAgregarSigno" data-toggle="tooltip" data-placement="top" title="Agregar signo vital a la tabla" ><i class="fas fa-plus"></i></button>
                        </div>
                        
                        @Html.AntiForgeryToken()
                        <table class="table" id="tableAgregarSignos">
                          <thead>
                            <tr>
                              <th>Fecha Toma</th>                              
                              <th>Signo</th>
                              <th>Valor</th>
                            </tr>
                          </thead>
                          <tbody>
                                                       
                          </tbody>
                        </table>
                    </form>
                    <br>
                    <br>
                </div>
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="btnGuardarSignos">Agregar signos</button>        
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>        
      </div>
    </div>
  </div>
</div>